# **Assignment**

I was provided with an empty Jupyterlite notebook which I launched in the course, to complete this assignment. I had include a combination of markdown and code cells in this assignment.

## Guidelines for the submission:
### There are a total of 25 points possible for this final project.

1. Exercise 2 - Create a markdown cell with the title of the notebook. (1 pt)

2. Exercise 3 - Create a markdown cell for an introduction. (1 pt)

3. Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

4. Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

5. Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

6. Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

7. Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)

8. Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

9. Exercise 10 -Insert a markdown cell to list Objectives. (3 pts)

10. Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name. (2 pts)

11. Exercise 12 - Share your notebook through GitHub (3 pts)

12. Exercise 13 - Take a screenshot of the first page of the notebook. (1 pt)

### Exercise 1: Create a Jupyter Notebook

### **Notebook** : DataScienceEcosystem.ipynb

### Exercise 2 - Create a markdown cell with the title of the notebook.

# Data Science Tools and Ecosystem

### Exercise 3 - Create a markdown cell for an introduction. (1 pt)

<p>In this notebook, Data Science Tools and Ecosystem are summarized.<p>

#### **Objectives**:

- List popular languages that Data Scientists use.
- List commonly used libraries used by Data Scientists.
- Comment on Data Science tools.

### Exercise 4 - Create a markdown cell to list data science languages. (3 pts)

#### Some of the popular languages that Data Scientists use are:

- Python
- SQL
- R
- Julia
- Java
- Scala
- C++
- JavaScript

### Exercise 5 - Create a markdown cell to list data science libraries. (3 pts)

#### Some of the commonly used libraries used by Data Scientists include:

* TensorFlow
* NumPy
* SciPy
* Pandas
* Matplotlib
* Keras
* SciKit-Learn
* PyTorch
* Scrapy
* BeautifulSoup
* LightGBM
* ELI5
* Theano
* NuPIC
* Ramp
* Pipenv
* Bob
* PyBrain
* Caffe2
* Chainer

### Exercise 6 - Create a markdown cell with a table of Data Science tools. (3 pts)

#### Data Science tools

|Data Science task categories| Tools |
|---|---|
|Data management|MySQL, PostgreSQL, MongoDB, Apache couchDB,Apache cassendra, Hadoop file system, Ceph, Elastic search|
|Data intergration and tranformation|Apache Airflow, Kubeflow, Apache Kafka, Apache Nifi, Apache SparkSQL, NodeRED|
|Dta visualization|Pixi Dust, Hue, Kiba, Apache superset|
|Model deployment|Apache PredictionIO, Seldon, Kubernetes, Redhat openshift, Mleap, TensorFlow service, TensorFlow lite, TensorFlow dotJS|
|Model monitoring|ModelDB, Prometheus, IBM AI Fairness 360, IBM Adersariel Robustness 360 tollbox, IBM AI Explainability 360|
|Code asset management|Git, GitHub, GitLab, Bitbucket|
|Data asset management|Aache atlas, ODPI Egeria, Kylo|

### Exercise 7 - Create a markdown cell introducing arithmetic expression examples. (1 pt)

### Introducing Arithmetic expression

An arithmetic expression is a combination of numeric values, operators, and sometimes parenthesis. The result of this type of expression is also a numeric value. The operators used in these expressions are arithmetic operators like addition, subtraction, Multiplication, Division etc.

### Below are a few examples of evaluating arithmetic expressions in Python

In [1]:
code = compile("15 + 7", "<string>", "eval")
eval(code)

22

In [5]:
code1 = compile("(67 + 5) * 7", "<string>", "eval")
eval(code1)

504

### Exercise 8 - Create a code cell to multiply and add numbers.(2 pts)

#### This a simple arithmetic expression to mutiply then add integers

In [6]:
(17*4)+2

70

### Exercise 9 - Create a code cell to convert minutes to hours. (2 pts)

#### This will convert 135 minutes to hours by diving by 60

In [18]:
mins = 135

leftover_minutes = time % 1440
hours = leftover_minutes // 60
mins = leftover_minutes % 60

print(str(hours) + " hours, " + str(mins) +  " mins ")

2 hours, 15 mins

In [9]:
minutes = 135
hour = '{:02d}:{:02d}'.format(*divmod(minutes, 60))
print (hour)

02:15

### Exercise 10 -Insert a markdown cell to list Objectives.

<p>Below the introduction cell created in Exercise 3, insert a new markdown cell to list the objectives that this notebook covered (i.e. some of the key takeaways from the course). In this new cell start with an introductory line titled: Objectives: in bold font. Then using an unordered list (bullets) indicate 3 to 5 items covered in this notebook, such as List popular languages for Data Science.</p>

### Exercise 11 - Create a markdown cell to indicate the Authorâ€™s name.

## Author:

Vishal